<form (ngSubmit)="modifyTravel()" [formGroup]="form">
    <div class="form-group">
        <label for="ruta">Ruta:</label>
        <select type="text" class="form-control" formControlName="ruta" name="ruta" required  [(ngModel)]="rIndex">
                <option *ngFor="let ruta of listRutas; index as i" [value]="i">{{ ruta.nombre }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="fecha_salida">Fecha de salida:</label>
        <input type="date" class="form-control" formControlName="fecha_salida" [(ngModel)]="viajeModificado.fecha_salida" name="fecha_salida" required>
    </div>

    <div class="form-group">
        <label for="hora">Hora de Salida:</label>
        <input type="time" class="form-control" formControlName="hora" [(ngModel)]="viajeModificado.hora" name="hora"
            min="{{viajeNuevo.hora" required>
    </div>
    
    <div class="form-group">
        <label for="chofer">Chofer:</label>
        <select type="text" class="form-control" formControlName="chofer" name="chofer" required [(ngModel)]="cIndex">
                <option *ngFor="let chofer of listChoferes; index as i" [value]="i">{{ chofer.nombre }}</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="vehiculo">Vehiculo:</label>
        <select type="text" class="form-control" formControlName="vehiculo" name="vehiculo" required [(ngModel)]="vIndex">
                <option *ngFor="let vehiculo of listVehiculos; index as i" [value]="i">{{ vehiculo.patente }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="precio">Precio:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" min="0" class="form-control" formControlName="precio" name="precio" [(ngModel)]="viajeModificado.precio" aria-label="Monto en pesos">
        </div>
    </div>

    <div class="form-group">
        <label for="detalle">Detalle:</label>
        <textarea type="texta" class="form-control" formControlName="detalle" [(ngModel)]="viajeModificado.detalle" name="detalle" required></textarea>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!form.valid">Guardar</button>
</form>