<h6>Cantidad de articulos: {{ viandasCompradas.length }}</h6>
<h6>Subtotal de viandas: {{ totalViandas }}</h6>
<h6>Valor de pasaje: {{ pasajeModificado.precio }}</h6>
<h6>Total: {{ total }}</h6>

<button type="button" class="btn btn-info" (click)="finishBuy()" [disabled]="totalViandasAgregadas == 0">
    <ng-template [ngIf]="(viandasAgregadas.length === 1)" [ngIfElse]="BlockEnPlural">
        <span>Agregar al viaje 1 vianda</span>
    </ng-template>
    <ng-template #BlockEnPlural>
        <span>Agregar al viaje {{viandasAgregadas.length}} viandas</span>
    </ng-template>
</button>

<br>
<form (ngSubmit)="addFoodBox(foodForm)" #foodForm="ngForm">
    <div class="form-group">
        <label for="vianda">Vianda:</label>
        <select class="form-control" name="vianda" ngModel required [value]="0">
            <option *ngFor="let vianda of viandasParaVenta; index as i" [value]="i">{{ vianda.nombre }} ${{
                vianda.precio }}</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Agregar</button>
    </div>
</form>

<br>
<ng-template [ngIf]="(viandasCompradas.length !== 0)||(viandasAgregadas.length !== 0)">
    <table class="table table-hover">
        <thead>
            <tr scope="row">
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vianda of viandasCompradas">
                <td data-title="Nombre">{{vianda.nombre}}</td>
                <td data-title="Precio">{{vianda.precio}}</td>
                <td data-title="Acciones">
                    <div class="btn-group">
                        <span>Ya pagado</span>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let vianda of viandasAgregadas">
                <td data-title="Nombre">{{vianda.nombre}}</td>
                <td data-title="Precio">{{vianda.precio}}</td>
                <td data-title="Acciones">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger" (click)="deleteFood(vianda)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>