<form (ngSubmit)="modifyVehiculo(vehiculoForm)" #vehiculoForm="ngForm">
    <div class="form-group">
        <label for="marca">Marca:</label>
        <input type="text" class="form-control" id="marca" required [(ngModel)]="vehiculoModificado.marca" name="marca">
    </div>
    <div class="form-group">
        <label for="modelo">Modelo:</label>
        <input type="text" class="form-control" id="modelo" required [(ngModel)]="vehiculoModificado.modelo"
            name="modelo">
    </div>

    <div class="form-group">
        <label for="cantAsientos">Cantidad de asientos:</label>
        <input type="text" class="form-control" id="cantAsientos" required [(ngModel)]="vehiculoModificado.cantAsientos"
            name="cantAsientos">
    </div>

    <div class="form-group">
        <label for="confort">Confort:</label>
        <input type="text" class="form-control" id="confort" required [(ngModel)]="vehiculoModificado.confort"
            name="confort">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!vehiculoForm.form.valid">Guardar</button>
</form>