<form (ngSubmit)="modifyVehiculo(vehiculoForm)" #vehiculoForm="ngForm">
    <div class="form-group">
        <label for="patente">Patente:</label>
        <input type="text" class="form-control" id="patente" required [(ngModel)]="vehiculoModificado.patente" name="patente" disabled>
    </div>

    <div class="form-group">
        <label for="marca">Marca:</label>
        <input type="text" class="form-control" id="marca" required [(ngModel)]="vehiculoModificado.marca" name="marca">
    </div>

    <div class="form-group">
        <label for="modelo">Modelo:</label>
        <input type="text" class="form-control" id="modelo" required [(ngModel)]="vehiculoModificado.modelo"
            name="modelo">
    </div>

    <div class="form-group">
        <label for="asientos">Cantidad de asientos:</label>
        <input type="text" class="form-control" id="asientos" required [(ngModel)]="vehiculoModificado.asientos"
            name="asientos">
    </div>

    <div class="form-group">
        <label for="confort">Confort:</label>
        <select class="form-control" id="confort" name="confort" [(ngModel)]="vehiculoModificado.confort" required>
            <option value="Cama">Cama</option>
            <option value="Semicama">Semicama</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!(vehiculoForm.form.valid&&vehiculoForm.form.dirty)">Guardar</button>
</form>