<ng-template [ngIf]="listT.length !== 0" [ngIfElse]="BlockBuyPassage">
    <div class="container">
        <h2>Pasajes pendientes</h2>

        <table class="table table-hover">
            <thead>
                <tr scope="row">
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Cantidad de viandas</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pasaje of listT; index as i">
                    <td data-title="Nombre">{{ pasaje.Viaje.nombre }}</td>
                    <td data-title="Estado">{{ pasaje.Estado.estado }}</td>
                    <td data-title="Fecha">{{ pasaje.Viaje.fecha_salida }}</td>
                    <td data-title="Hora">{{ pasaje.Viaje.hora }}</td>
                    <td data-title="Cantidad de viandas">{{ pasaje.Vianda.length }}</td>
                    <td data-title="Total">$ {{ pasaje.precio }}</td>
                    <td data-title="Acciones">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" (click)="openModal(contentShow, pasaje, 0)"><i
                                    class="bi bi-info-circle"></i></button>
                            <ng-container *ngIf="!viandasCompradas[i].aPagar; else BlockPagar">
                                <button type="button" class="btn btn-success"
                                    (click)="openModal(contentAddFoodBox, pasaje, i)">Agregar vianda</button>
                            </ng-container>
                            <ng-template #BlockPagar>
                                <button type="button" class="btn btn-warning"
                                    (click)="openModal(contentPay, pasaje, i)">Pagar
                                    ${{viandasCompradas[i].total | number:'1.2-2' }}</button>
                            </ng-template>
                            <button type="button" class="btn btn-danger"
                                (click)="openModal(contentCancel, pasaje, i)">Cancelar pasaje</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<!-- Pantalla para lista vacia -->
<ng-template #BlockBuyPassage>
    <div class="text-center m-2">
        <h2 class="m-2">No tiene pasajes pendientes de uso</h2>
        <a class="btn btn-info w-100 h-25 my-3" routerLink="/">Ir a buscar viaje</a>
    </div>
</ng-template>

<!-- Modal cancelar pasaje -->
<ng-template #contentCancel let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">¿Realmente desea cancelar el viaje?</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="cancelTrip($event); c('Close click')">Si, deseo
            cancelar</button>
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Cancelar</button>
    </div>
</ng-template>

<!-- Modal mostrar informacion -->
<ng-template #contentShow let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Informacion del pasaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-pasaje [(pasajeConInfo)]="pasajeSeleccionado">Cargando...</app-pasaje>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>

<!-- Modal agregar viandas -->
<ng-template #contentAddFoodBox let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Informacion del pasaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-vianda-comprar [pasajeModificado]="pasajeSeleccionado"
            (compraViandaEvent)="toBuy($event); c('Close click')">
            Cargando...</app-vianda-comprar>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Cancelar</button>
    </div> -->
</ng-template>

<ng-template #contentPay let-c="close" let-d="dismiss">
    <app-pago [(total)]="totalViandas" (closeEvent)="c('Close click')" (payEvent)="payment($event); c('Close click')">
        Cargando...</app-pago>
</ng-template>