<form (ngSubmit)="modifyCity(editCityForm)" #editCityForm="ngForm">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="ciudadModificada.nombre" name="nombre" required>
    </div>

    <div class="form-group">
        <label for="codigoPostal">Codigo Postal:</label>
        <input type="text" class="form-control" id="codigoPostal" [(ngModel)]="ciudadModificada.codigoPostal" name="codigoPostal" required>
    </div>
    
    <div class="form-group">
        <label for="provincia">Provincia:</label>
        <select type="text" class="form-control" id="provincia" name="provincia" [(ngModel)]="ciudadModificada.provincia" required>
            <option *ngFor="let provincia of listProvincias; index as i" value="{{provincia.nombre}}">{{ provincia.nombre }}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!editCityForm.form.valid">Guardar</button>
</form>