<form (ngSubmit)="newTravel(newTravelForm)" #newTravelForm="ngForm">
    <div class="form-group">
        <label for="ruta">Ruta:</label>
        <select type="text" class="form-control" id="ruta" name="ruta" [(ngModel)]="viajeNuevo.ruta" required>
                <option value="{{ruta.nombre}}" *ngFor="let ruta of listRutas; index as i">{{ ruta.nombre }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="fechaSalida">Fecha de salida:</label>
        <input type="date" class="form-control" id="fechaSalida" [(ngModel)]="viajeNuevo.fechaSalida" name="fechaSalida" required>
    </div>

    <div class="form-group">
        <label for="fechaLlegada">Fecha de Llegada:</label>
        <input type="date" class="form-control" id="fechaLlegada" [(ngModel)]="viajeNuevo.fechaLlegada" name="fechaLlegada" required>
    </div>
    
    <div class="form-group">
        <label for="chofer">Chofer:</label>
        <select type="text" class="form-control" id="chofer" name="chofer" [(ngModel)]="viajeNuevo.chofer" required>
                <option value="{{chofer.nombre}} {{chofer.apellido}}" *ngFor="let chofer of listChoferes; index as i">{{ chofer.nombre }}</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="vehiculo">Vehiculo:</label>
        <select type="text" class="form-control" id="vehiculo" name="vehiculo" [(ngModel)]="viajeNuevo.vehiculo" required>
                <option value="{{vehiculo.patente}}" *ngFor="let vehiculo of listVehiculos; index as i">{{ vehiculo.patente }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="detalle">Detalle:</label>
        <textarea type="texta" class="form-control" id="detalle" [(ngModel)]="viajeNuevo.detalle" name="detalle" required></textarea>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!newTravelForm.form.valid">Guardar</button>
</form>