<form (ngSubmit)="newTravel()" [formGroup]="form">
    <div class="form-group">
        <label for="ruta">Ruta:</label>
        <select type="text" class="form-control" formControlName="ruta" name="ruta" required>
                <option *ngFor="let ruta of listRutas; index as i" [value]="i">{{ ruta.nombre }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="fechaSalida">Fecha de salida:</label>
        <input type="date" class="form-control" formControlName="fechaSalida" [(ngModel)]="viajeNuevo.fechaSalida" name="fechaSalida" required>
    </div>

    <div class="form-group">
        <label for="fechaLlegada">Fecha de Llegada:</label>
        <input type="date" class="form-control" formControlName="fechaLlegada" [(ngModel)]="viajeNuevo.fechaLlegada" name="fechaLlegada" required>
    </div>
    
    <div class="form-group">
        <label for="chofer">Chofer:</label>
        <select type="text" class="form-control" formControlName="chofer" name="chofer" required>
                <option *ngFor="let chofer of listChoferes; index as i" [value]="i">{{ chofer.nombre }}</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="vehiculo">Vehiculo:</label>
        <select type="text" class="form-control" formControlName="vehiculo" name="vehiculo" required>
                <option *ngFor="let vehiculo of listVehiculos; index as i" [value]="i">{{ vehiculo.patente }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="detalle">Detalle:</label>
        <textarea type="texta" class="form-control" formControlName="detalle" [(ngModel)]="viajeNuevo.detalle" name="detalle" required></textarea>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!form.valid">Guardar</button>
</form>