<nav class="navbar navbar-expand-sm" style="background-color: #27b970;">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('viajes')">Lista Viajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('rutas')">Rutas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('paradas')">Paradas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('ciudades')">Ciudades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('provincias')">Provincias</a>
            </li>
        </ul>
</nav>

<app-lista-ruta [(listaRuta)]="lRutas" *ngIf="ver == 'rutas'">Carcgando rutas...</app-lista-ruta>
<app-lista-parada [(listParadas)]="lParadas" *ngIf="ver == 'paradas'">Carcgando paradas...</app-lista-parada>
<app-lista-ciudad [(listCiudades)]="lCiudades" *ngIf="ver == 'ciudades'">Carcgando ciudades...</app-lista-ciudad>
<app-lista-provincia *ngIf="ver == 'provincias'">Carcgando provincias...</app-lista-provincia>

<div class="container" *ngIf="ver == 'viajes'">
    <h2>Lista de viajes </h2>
    <p>Para realizar la compra de un viaje puede selecionar en la tabla, los viajes son dado de alta por la empresa y se
        disponen para los usuarios :</p>
    
    <button class="btn btn-primary m-2" (click)="openModal(contentNew, viajeSeleccionado)">
        Crear viaje
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>Ruta</th>
                <th>Fecha de salida</th>
                <th>Fecha de llegada</th>
                <th>Chofer</th>
                <th>Vehiculo</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let viaje of lViajes">
                <td data-title="Ruta">{{viaje.ruta.nombre}}</td>
                <td data-title="Fecha de Salida">{{viaje.fechaSalida}}</td>
                <td data-title="Fecha de Llegada">{{viaje.fechaLlegada}}</td>
                <td data-title="Chofer">{{viaje.chofer.nombre}}</td>
                <td data-title="Vehiculo">{{viaje.vehiculo.patente}}</td>
                <td data-title="Detalles">{{viaje.detalle}}</td>
                <td data-title="Acciones">
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning"
                            (click)="openModal(contentEdit, viaje)">Editar</button>
                        <button type="button" class="btn btn-danger"
                            (click)="deleteTravel(viaje)">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #contentEdit let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar viaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-viaje-editar [(viajeModificado)]="viajeSeleccionado" (travelEditEvent)="travelEdit(); c('Close click')">
            Cargando</app-viaje-editar>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>

<ng-template #contentNew let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Nuevo viaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-viaje-nuevo (travelNewEvent)="addTravel($event); c('Close click')">Cargando</app-viaje-nuevo>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>