<ng-template [ngIf]="usuarioIdentificado && buscar">
    <nav class="navbar navbar-expand-sm justify-content-center bg-info navbar-dark"
        *ngIf="usuarioIdentificado.tipo === USUARIO_ADMINISTRADOR">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('viajes')" [ngClass]="{ active: ver == 'viajes'}">Lista Viajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('calificaciones')"
                    [ngClass]="{ active: ver == 'calificaciones'}">Calificaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('rutas')" [ngClass]="{ active: ver == 'rutas'}">Rutas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('ciudades')" [ngClass]="{ active: ver == 'ciudades'}">Ciudades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('provincias')"
                    [ngClass]="{ active: ver == 'provincias'}">Provincias</a>
            </li>
        </ul>
    </nav>
</ng-template>

<app-lista-ruta [(listaRuta)]="lRutas" *ngIf="ver == 'rutas'">Carcgando rutas...</app-lista-ruta>
<app-lista-ciudad [(listCiudades)]="lCiudades" *ngIf="ver == 'ciudades'">Carcgando ciudades...</app-lista-ciudad>
<app-lista-provincia *ngIf="ver == 'provincias'">Carcgando provincias...</app-lista-provincia>
<app-lista-valoracion *ngIf="ver == 'calificaciones'">Carcgando calificaciones...</app-lista-valoracion>

<div class="container" *ngIf="ver == 'viajes'">
    <h2>Lista de viajes </h2>

    <ng-template [ngIf]="usuarioIdentificado">
        <button class="btn btn-primary m-2" (click)="openModal(contentNew, viajeSeleccionado)"
            *ngIf="usuarioIdentificado.tipo === USUARIO_ADMINISTRADOR">
            Crear viaje
        </button>

        <div class="container" *ngIf="this.viajeEnCurso">
            <ngb-alert [dismissible]="false" class="co">
                <strong>¡Advertencia!</strong> Tiene un viaje en Curso.
                <a class="btn btn-primary m-2" routerLink="/EnCurso">Seguir viaje</a>
            </ngb-alert>
        </div>
    </ng-template>

    <router-outlet></router-outlet>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <ng-template #BlockRutaColum>
                    <th >Ruta</th>
                </ng-template>
                <th>Fecha de salida</th>
                <th>Hora de Salida</th>
                <th>Vehiculo</th>
                <ng-template [ngIf]="usuarioIdentificado">
                    <th *ngIf="usuarioIdentificado.tipo === USUARIO_ADMINISTRADOR">Chofer</th>
                    <th>Acciones</th>
                </ng-template>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let viaje of lViajes">
                <td data-title="Nombre">{{viaje.nombre}}</td>
                <td data-title="Ruta" *ngIf="viaje.Ruta; then BlockRutaColum">{{viaje.Ruta.nombre}}</td>
                <td data-title="Fecha de Salida">{{viaje.fecha_salida}}</td>
                <td data-title="Hora de salida">{{viaje.hora }}</td>
                <td data-title="Vehiculo">{{viaje.Vehiculo[0].patente}}</td>
                <ng-template [ngIf]="usuarioIdentificado">
                    <td data-title="Chofer" *ngIf="usuarioIdentificado.tipo === USUARIO_ADMINISTRADOR">
                        {{viaje.Chofer[0].nombre}}</td>
                    <td data-title="Acciones"
                        *ngIf="usuarioIdentificado.tipo === USUARIO_ADMINISTRADOR; else NoAdminBlock">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" (click)="openModal(contentShow, viaje)"><i
                                    class="bi bi-info-circle"></i></button>
                            <button type="button" class="btn btn-warning" (click)="openModal(contentEdit, viaje)"><i
                                    class="bi bi-pencil-square"></i></button>
                            <button type="button" class="btn btn-danger" (click)="deleteTravel(viaje)"><i
                                    class="bi bi-trash"></i></button>
                        </div>
                    </td>
                    <ng-template #NoAdminBlock>
                        <td data-title="Acciones"
                            *ngIf="usuarioIdentificado.tipo === USUARIO_CHOFER; else BlockPassager">
                            <button class="btn btn-success" [disabled]="!(viaje.fecha_salida === hoy)">
                                <span>Iniciar</span>
                            </button>
                        </td>
                        <ng-template #BlockPassager>
                            <td data-title="Acciones">
                                <a [routerLink]="['/CompraPasaje', viaje.id]">
                                    <span class="btn btn-danger">Comprar</span>
                                </a>
                            </td>
                        </ng-template>
                    </ng-template>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modificar viaje -->
<ng-template #contentEdit let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar viaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-viaje-editar [(viajeModificado)]="aux" (travelEditEvent)="refreshList(); c('Close click')"
            (closeEvent)="c('Close click')">
            Cargando</app-viaje-editar>
    </div>
</ng-template>

<!-- Nuevo viaje -->
<ng-template #contentNew let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Nuevo viaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-viaje-nuevo (travelNewEvent)="refreshList(); c('Close click')" (closeEvent)="c('Close click')">Cargando
        </app-viaje-nuevo>
    </div>
</ng-template>

<!-- Mostrar datos viaje -->
<ng-template #contentShow let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Infirmacion del vieje</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-viaje [(viajeConInfo)]="viajeSeleccionado">Cargando</app-viaje>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>