<nav class="navbar navbar-expand-sm justify-content-center bg-info navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" (click)="onSelect('info')" [ngClass]="{ active: ver == 'info'}">Informacion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="onSelect('historial')" [ngClass]="{ active: ver == 'historial'}" *ngIf="usuarioIdentificado.tipo === USUARIO_PASAJERO">Historial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="onSelect('pendientes')" [ngClass]="{ active: ver == 'pendientes'}" *ngIf="usuarioIdentificado.tipo === USUARIO_PASAJERO">Pasajes pendientes</a>
        </li>
    </ul>
</nav>
<app-usuario [(usuarioConInfo)]="usuarioIdentificado" *ngIf="ver == 'info'">Cargando usuario...</app-usuario>