<form (ngSubmit)="modifyUser(userForm)" #userForm="ngForm">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" required [(ngModel)]="usuarioModificado.nombre"
            name="nombre">
    </div>
    <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" id="apellido" [(ngModel)]="usuarioModificado.apellido" name="apellido">
    </div>
    <div class="form-group">
        <label for="contrasenia">Contraseña:</label>
        <input type="password" class="form-control" id="contrasenia" [(ngModel)]="usuarioModificado.password" name="contrasenia">
    </div>  
    <div class="form-group">
        <label for="dni">DNI:</label>
        <input type="number" class="form-control" id="dni" [(ngModel)]="usuarioModificado.dni" name="dni">
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="usuarioModificado.email" name="email">
    </div>
    <div class="form-group">
        <label for="tipo">Tipo</label>
        <select class="form-control" id="tipo" name="tipo" [(ngModel)]="usuarioModificado.tipo">
            <option value="1">Pasajero</option>
            <option value="2">Chofer</option>
            <option value="3">Administrador</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Guardar</button>
</form>