<div class="container">
    <h2>Ciudades</h2>
    <p>Lista de ciudades disponibles:</p>

    <button class="btn btn-primary m-2" (click)="openModal(contentNew, null)">
        Agregar ciudad
    </button>

    <table class="table table-hover">
        <thead>
            <tr scope="row">
                <th>Nombre</th>
                <th>Codigo Postal</th>
                <th>Provincia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ciudad of listCiudades">
                <td data-title="Nombre">{{ ciudad.nombre }}</td>
                <td data-title="Codigo Postal">{{ ciudad.cp }}</td>
                <td data-title="Provincia">{{ ciudad.Provincia.nombre }}</td>
                <td data-title="Acciones">
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning"
                            (click)="openModal(contentEdit, ciudad)">Editar</button>
                        <button type="button" class="btn btn-danger"
                            (click)="deleteCiudad(ciudad)">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #contentEdit let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar ciudad</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-ciudad-editar [ciudadModificada]="aux" (cityEditEvent)="refreshList(); c('Close click')">
            Cargando</app-ciudad-editar>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>

<ng-template #contentNew let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Nuevo ciudad</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-ciudad-nuevo (ciudadNewEvent)="refreshList(); c('Close click')">Cargando</app-ciudad-nuevo>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>