<p>Ruta: {{ viajeConInfo.Ruta.nombre }}</p>
<p>Origen: {{ viajeConInfo.Ruta.Origen.nombre }}, {{ viajeConInfo.Ruta.Origen.Provincia.nombre }}</p>
<p>Destino: {{ viajeConInfo.Ruta.Destino.nombre }}, {{ viajeConInfo.Ruta.Destino.Provincia.nombre }}</p>
<p>Distancia: {{ viajeConInfo.Ruta.distancia }}</p>
<p>Fecha de Salida: {{ viajeConInfo.fecha_salida }}</p>
<p>hora de salida: {{ viajeConInfo.hora }}</p>
<p>Chofer: {{ viajeConInfo.Vehiculo.Chofer.nombre }} {{ viajeConInfo.Vehiculo.Chofer.apellido }}</p>
<p>Vehiculo: {{ viajeConInfo.Vehiculo.marca }} {{ viajeConInfo.Vehiculo.modelo }} - {{ viajeConInfo.Vehiculo.patente }}</p>
<p>Precio: ${{ viajeConInfo.precio }}</p>
<p>Detalle: {{ viajeConInfo.detalle }}</p>