<p>Ruta: {{ viajeConInfo.ruta.nombre }}</p>
<p>Origen: {{ viajeConInfo.ruta.Origen.nombre }}, {{ viajeConInfo.ruta.Origen.Provincia.nombre }}</p>
<p>Destino: {{ viajeConInfo.ruta.Destino.nombre }}, {{ viajeConInfo.ruta.Destino.Provincia.nombre }}</p>
<p>Distancia: {{ viajeConInfo.ruta.distancia }}</p>
<p>Fecha de Salida: {{ viajeConInfo.fecha_salida }}</p>
<p>hora de salida: {{ viajeConInfo.hora }}</p>
<p>Chofer: {{ viajeConInfo.chofer.nombre }} {{ viajeConInfo.chofer.apellido }}</p>
<p>Vehiculo: {{ viajeConInfo.vehiculo.marca }} {{ viajeConInfo.vehiculo.modelo }} - {{ viajeConInfo.vehiculo.patente }}</p>
<p>Precio: ${{ viajeConInfo.precio }}</p>
<p>Detalle: {{ viajeConInfo.detalle }}</p>