<p>Ruta: {{ viajeConInfo.ruta.nombre }}</p>
<p>Origen: {{ viajeConInfo.ruta.origen.nombre }}, {{ viajeConInfo.ruta.origen.provincia.nombre }}</p>
<p>Destino: {{ viajeConInfo.ruta.destino.nombre }}, {{ viajeConInfo.ruta.destino.provincia.nombre }}</p>
<p>Distancia: {{ viajeConInfo.ruta.distancia }}</p>
<p>Fecha de Salida: {{ viajeConInfo.fecha_salida }}</p>
<p>Fecha de llegada: {{ viajeConInfo.fecha_llegada }}</p>
<p>Chofer: {{ viajeConInfo.chofer.nombre }} {{ viajeConInfo.chofer.apellido }}</p>
<p>Vehiculo: {{ viajeConInfo.vehiculo.marca }} {{ viajeConInfo.vehiculo.modelo }} - {{ viajeConInfo.vehiculo.patente }}</p>
<p>Detalle: {{ viajeConInfo.detalle }}</p>