<form (ngSubmit)="newVehiculo(vehiculoForm)" #vehiculoForm="ngForm"> 
    
    <div class="form-group">
        <label for="marca">Marca:</label>
        <input type="text" class="form-control" id="marca" required [(ngModel)]="vehiculoNuevo.marca"
            name="marca">
    </div>
    <div class="form-group">
        <label for="modelo">Modelo:</label>
        <input type="text" class="form-control" id="modelo" required [(ngModel)]="vehiculoNuevo.modelo"
            name="modelo">
    </div>

    <div class="form-group">
        <label for="patente">Patente:</label>
        <input type="text" class="form-control" id="patente" required [(ngModel)]="vehiculoNuevo.patente"
            name="patente">
    </div>

    <div class="form-group">
        <label for="cantAsientos">Cantidad de Asientos:</label>
        <input type="number" class="form-control" id="cantAsientos" required [(ngModel)]="vehiculoNuevo.cantAsientos"
            name="cantASientos">
    </div>


    <div class="form-group">
        <label for="confort">Confort:</label>
        <input type="text" class="form-control" id="confort" required [(ngModel)]="vehiculoNuevo.confort"
            name="confort">
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!vehiculoForm.form.valid">Guardar</button>
</form>