<ng-template [ngIf]="usuarioIdentificado&&viajeEnCurso" [ngIfElse]="BlockSinViajeEnCurso">
    <nav class="navbar navbar-expand-sm justify-content-center bg-info navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('Detalles')" [ngClass]="{ active: ver == 'Detalles'}">Detalles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('Vehiculo')" [ngClass]="{ active: ver == 'Vehiculo'}">Vehiculo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('Pasajeros')"
                    [ngClass]="{ active: ver == 'Pasajeros'}">Pasajeros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSelect('Viandas')" [ngClass]="{ active: ver == 'Viandas'}">Viandas</a>
            </li>
        </ul>
    </nav>

    <!-- Detalle del viaje -->
    <div *ngIf="ver == 'Detalles'">
        <div class="card">
            <div class="card-body">
                <app-viaje [viajeConInfo]="viajeEnCurso">Cargando</app-viaje>
            </div>
        </div>
    </div>

    <!-- Detalle del vehiculo -->
    <div *ngIf="ver == 'Vehiculo'">
        <div class="card">
            <div class="card-body">
                <app-vehiculo [vehiculoConInfo]="viajeEnCurso.Vehiculo[0]">Cargando</app-vehiculo>
            </div>
        </div>
    </div>

    <!-- Detalle de las viandas en el viaje -->
    <div *ngIf="ver == 'Viandas'">
        <div class="card">
            <div class="card-body">
                <h1>Lista de viandas por pasajero</h1>
            </div>
        </div>
    </div>

    <!-- Lista de pasajeros para el test -->
    <div *ngIf="ver == 'Pasajeros'">

        <!-- Viaje iniciado - carga de estado de cada pasajero -->
        <ng-template [ngIf]="viajeEnCurso.Estado.estado === 'Iniciado'" [ngIfElse]="BlockFinishTravel">
            <!-- Test individuales -->
            <ng-template [ngIf]="showTestForm" [ngIfElse]="BlockShowTable">
                <app-test-nuevo [pasaje]="listP[seleccionado]" (testNewEvent)="refreshList(); finalizarTest();"
                    (closeEvent)="finalizarTest()">Carcando...</app-test-nuevo>
            </ng-template>

            <!-- Tablas de pasajeros -->
            <ng-template #BlockShowTable>
                <!-- Lista de todos los pasajeros -->
                <ng-template [ngIf]="listP.length !== 0" [ngIfElse]="BlockStartTravel">
                    <div class="container">
                        <h2>Lista de pasajeros pendientes</h2>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                            </div>
                            <input type="text" class="form-control" name="findFirtName" [(ngModel)]="findString"
                                placeholder="Nombre, Apellido o DNI" autocomplete="off">
                        </div>
                        <table class="table  table-hover">
                            <thead>
                                <tr scope="row">
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>DNI</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pasaje of listP | passageNameDniFilter: findString; index as i">
                                    <td data-title="Nombre">{{pasaje.Pasajero.nombre}}</td>
                                    <td data-title="Apellido">{{pasaje.Pasajero.apellido}}</td>
                                    <td data-title="DNI">{{pasaje.Pasajero.dni}}</td>
                                    <td data-title="Acciones">
                                        <div class="btn-group">
                                            <a class="btn btn-secondary" (click)="iniciarTest(i)">Test</a>
                                            <a class="btn btn-dark" (click)="marcarAusente(i)">Ausente</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Lista de pasajeros con test completado-->
                    <div class="container" *ngIf="listP_completado.length !== 0">
                        <!-- Test individuales -->
                        <ng-template [ngIf]="showTestForm">
                            <app-test-nuevo [pasaje]="listP[seleccionado]"
                                (testNewEvent)="refreshList(); finalizarTest();" (closeEvent)="finalizarTest()">
                                Carcando...</app-test-nuevo>
                        </ng-template>

                        <!-- Lista de todos los pasajeros -->
                        <h2>Lista de pasajeros complatada</h2>
                        <table class="table  table-hover">
                            <thead>
                                <tr scope="row">
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>DNI</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pasaje of listP_completado">
                                    <td data-title="Nombre">{{pasaje.Pasajero.nombre}}</td>
                                    <td data-title="Apellido">{{pasaje.Pasajero.apellido}}</td>
                                    <td data-title="DNI">{{pasaje.Pasajero.dni}}</td>
                                    <td data-title="Estado">
                                        <ng-template [ngIf]="pasaje.Test.resultado" [ngIfElse]="BlockResultadoNegativo">
                                            Cancelado
                                            <!--  {{pasaje.Estado.estado}} -->
                                        </ng-template>
                                        <ng-template #BlockResultadoNegativo>
                                            Puede viajar
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>

                <ng-template #BlockStartTravel>
                    <div class="container m-5">
                        <h2>Ya estan todos los pasajeros</h2>
                        <button type="button" class="btn btn-success w-100 h-25 m-5" (click)="startTravel()">Marcar
                            salida</button>
                    </div>
                </ng-template>
            </ng-template>
        </ng-template>

        <!-- Marcar fin del viaje -->
        <ng-template #BlockFinishTravel>
            <div class="container m-5">
                <h2>¿A llegado a destino?</h2>
                <button type="button" class="btn btn-danger w-100 h-25 m-5" (click)="finishTravel()">Marcar
                    fin del viaje</button>
            </div>
        </ng-template>

    </div>
</ng-template>

<ng-template #BlockSinViajeEnCurso>
    <p>
        <ngb-alert type="danger" [dismissible]="false"><strong>Whoa!</strong> No tiene viajes en curso</ngb-alert>
    </p>
</ng-template>